

<div class="jumbotron" style="background-image: url('https://d27bvhtwhzf6pr.cloudfront.net/assets/new_banner-d1fdff3642bdd73012a9991640ec89ae.jpg'); min-height: 408px;">

	<div class="container" style="margin-left: 120px; margin-top: 50px; color: white;">
		<h1>Discover Styles that Fit</h1>
		<p>We'll help along the way.</p>
			<%= link_to "Get Started", start_path, class: "btn btn-default btn-lg"%>
	</div>
</div>

<!-- how it works -->
<div class="jumbotron">
	<h2 style="text-color: gray;"> How does Fittedly Work? </h2>


<!-- ****need media queries for this grid system -->
	<div class="row">
	  <div class="col-md-4">Create your Style Profile</div>
	  <div class="col-md-4">Get 5 Handpicked Items</div>
	  <div class="col-md-4">Keep what you like and send back the rest</div>
	</div>
</div> <!-- container div end -->

<div class="container">
	<h2> Online Women's Personal Styling</h2>
	<div class="row">
  	<div class="col-xs-6"><img alt="house" height="48" src="https://d27bvhtwhzf6pr.cloudfront.net/assets/svg/home-74daa69079a73a8346e5315fa50b0820.svg" width="48">Try it on at Home</div>
    <div class="col-xs-6"><img alt="mailbox" height="48" src="https://d27bvhtwhzf6pr.cloudfront.net/assets/svg/mailbox-a4fc8d714928cb3fb3a993c4ca3b2780.svg" width="48">Free & Easy Returns</div>
     <div class="col-xs-6"><img alt="shirt" height="48" src="https://d27bvhtwhzf6pr.cloudfront.net/assets/svg/shirt-5106e41390c3abcdd16da13f06e51afa.svg" width="48">Styling Tips</div>
      <div class="col-xs-6"><img alt="chart" height="48" src="https://d27bvhtwhzf6pr.cloudfront.net/assets/svg/chart-4e25df9b2ae02c56139d27f197ca8a07.svg" width="48">Better Over Time</div>
</div>


<div class="jumbotron" id="start">
	<h2> signup form </h2>
	<%= link_to "Get Started", start_path, class: "btn btn-success btn-lg"%>

</div>
