<div class="jumbotron" style="background-image: url('https://d27bvhtwhzf6pr.cloudfront.net/assets/new_banner-d1fdff3642bdd73012a9991640ec89ae.jpg'); min-height: 408px;">

	<div class="container" style="margin-left: 120px; margin-top: 50px; color: white;">
		<h1>Unleash Your Style</h1>
		<p>We'll guide the way </p>
			<%= link_to "Get Fitted", start_path, class: "btn btn-default btn-lg"%>
	</div>
</div>

<div class="jumbotron">
	<h2 style="text-align: center;"> We Live to Make You Look Great </h2>
</div>
<!-- why -->
	<div id="features">
		<div class="container">
			<div class="row feature">
				<div class="col-md-6 info">
					<h2>You appreciate great style</h2>
				</div>
				<div class="col-md-6 image">
					<!-- <img src="#" class="img-responsive" alt="feature1" /> -->
				</div>
			</div>
			
			<div class="row feature">
							<div class="col-md-6 image">
									<!-- <img src="images/feature1.png" class="img-responsive" alt="feature1" /> -->
				</div>
					<div class="col-md-6 info">
					<h2>...But you don't have time to shop for it</h2>
				</div>
			</div>

				<div class="row feature">
				<div class="col-md-6 info">
					<h2>That's where Fittedly comes in</h2>
				</div>
				<div class="col-md-6 image">
					<!-- <img src="images/feature1.png" class="img-responsive" alt="feature1" /> -->
				</div>
			</div>
			</div>

<!-- how it works -->
<div class="jumbotron" id="howitworks">
	<h2 style="text-color: gray; text-align: center;"> How does Fittedly Work? </h2>
<!-- ****need media queries for this grid system -->
	<div class="container">
	<div class="row">
	  <div class="col-md-4"><h4>Create your Style Profile</h4></div>
	  <div class="col-md-4"><h4>Get 5 Handpicked Items</h4></div>
	  <div class="col-md-4"><h4>Keep what you like and send back the rest</h4></div>
	</div>
</div>
</div> <!-- container div end -->

<div class="container" id="homeabout">
	<h2> Online Women's Personal Styling</h2>
	<div class="row">
  	<div class="col-xs-6"><img alt="house" height="48" src="https://d27bvhtwhzf6pr.cloudfront.net/assets/svg/home-74daa69079a73a8346e5315fa50b0820.svg" width="48"> Try it on in the privacy of your own home <p class="home-features"> Try it on in the privacy of your won home, withyour own wardrobe.</p></div>
    <div class="col-xs-6"><img alt="mailbox" height="48" src="https://d27bvhtwhzf6pr.cloudfront.net/assets/svg/mailbox-a4fc8d714928cb3fb3a993c4ca3b2780.svg" width="48">Free & Easy Returns</div>
     <div class="col-xs-6"><img alt="shirt" height="48" src="https://d27bvhtwhzf6pr.cloudfront.net/assets/svg/shirt-5106e41390c3abcdd16da13f06e51afa.svg" width="48">Styling Tips</div>
     
      <div class="col-xs-6"><img alt="chart" height="48" src="https://d27bvhtwhzf6pr.cloudfront.net/assets/svg/chart-4e25df9b2ae02c56139d27f197ca8a07.svg" width="48">Better Over Time</div>
</div>
</div>


<div class="jumbotron" id="start">
	<h2> signup form </h2>
	<%= link_to "Get Started", start_path, class: "btn btn-success btn-lg"%>

</div>
