

<div class="jumbotron" style="background-image: url(https://d27bvhtwhzf6pr.cloudfront.net/assets/new_banner-d1fdff3642bdd73012a9991640ec89ae.jpg); min-height: 408px;">

	<div class="container">
	<h1>Discover Styles that Fit</h1>
	<p>We'll help along the way.</p>
	<%= link_to "Get Started", "#", class: "btn btn-success btn-lg" %>
</div>
</div>